body{
    background-color: green;
}

.Deck-btn {
    display: block;
    margin:50px auto;
    border-radius: 5%;
    border-color: #34a1eb;
    background-color: whitesmoke;
    font-weight: bold;
}


div.Deck{
    position: relative;
}

img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
